<html xmlns:th="http://www.thymeleaf.org" lang="pl">
  <head>
    <title>Klienci banku</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1> Klienci banku </h1>
        </div>
      </div>
      <div class="row" th:each="bankClient : ${bankClients}">
        <div class="col-md-1"><span th:text="${bankClient.firstName}"> Name </span></div>
        <div class="col-md-1"><span th:text="${bankClient.lastName}"> Surname </span></div>
        <div class="col-md-2"><span th:text="${bankClient.address}"> Address </span></div>
        <div class="col-md-1"><span th:text="${bankClient.postalCode}"> Postal code </span></div>
        <div class="col-md-2"><span th:text="${bankClient.city}"> City </span></div>
        <div class="col-md-1"><span th:text="${bankClient.phone}"> Phone </span></div>
        <div class="col-md-3"><span th:text="${bankClient.email}"> Email </span></div>
        <div class="col-md-1"><span th:text="${bankClient.pesel}"> Pesel </span></div>
      </div>
    </div>
  </body>
</html>